<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>AltaProductoServlet</display-name>
    <servlet-name>AltaProductoServlet</servlet-name>
    <servlet-class>servlets.AltaProductoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaProductoServlet</servlet-name>
    <url-pattern>/AltaProductoServlet</url-pattern>
  </servlet-mapping>
  <display-name>14_gestor_productos</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BuscarPorCategoriaServlet</display-name>
    <servlet-name>BuscarPorCategoriaServlet</servlet-name>
    <servlet-class>servlets.BuscarPorCategoriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarPorCategoriaServlet</servlet-name>
    <url-pattern>/BuscarPorCategoriaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarProductoServlet</display-name>
    <servlet-name>EliminarProductoServlet</servlet-name>
    <servlet-class>servlets.EliminarProductoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarProductoServlet</servlet-name>
    <url-pattern>/EliminarProductoServlet</url-pattern>
  </servlet-mapping>
</web-app>